<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon slot="icon-only"
          [name]="isDark ? 'sunny-outline' : 'moon-outline'">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>DAM2 - API REST</h1>
  <p>Aplicacion Ionic + Angular Standalone para consumir una API REST.</p>

  <ion-button expand="block" routerLink="/productos">
    Ver productos
  </ion-button>

  <ion-button expand="block" fill="outline" routerLink="/about">
    Sobre nosotros
  </ion-button>
</ion-content>