<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>DAM2 Productos S.L.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Somos una empresa ficticia dedicada al desarrollo de interfaces
        multiplataforma. Este proyecto es una demo academica del modulo
        Desarrollo de Interfaces que consume la API publica dummyjson.com.
      </p>
      <ion-button
        expand="block"
        href="https://github.com/pablosanchez2505-spec"
        target="_blank">
        Mi perfil de GitHub
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>