<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Sobre Nuestra Empresa</h2>
  <p>Somos una empresa dedicada al desarrollo de software avanzado y aplicaciones móviles híbridas eficientes.</p>
  <p>Visita mi perfil personal en GitHub haciendo clic en el siguiente enlace:</p>
  <a href="https://github.com/tu-usuario-github" target="_blank">Ir a mi GitHub</a>
</ion-content>